@inherits Behind.App

@RegisterStyleSheet("css/components/app.css", "css/global/textbox.css")


<app-component>

    <main>
        <Logo></Logo>
        <input type="text" title="advanced search" bind="@QueryString" placeholder="Search NChronicle" ref="SearchBoxElement" onkeyup="@OnKeyUp"/>

        <recordsindex QueryString="@QueryString" ref="RecordsIndexComponent" />
    </main>

</app-component>

<StyleSheetRenderer></StyleSheetRenderer>
<DialogsRenderer></DialogsRenderer>