@inherits Behind.RecordsIndex

<recordsindex-component>
    <link rel="stylesheet" href="css/components/recordsIndex.css?1" />

    @if (this.Records != null)
    {
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Tags
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in this.Records)
                {
                <tr>
                    <td width="150">
                        @record.Time
                    </td>
                    <td width="100">
                        @record.Level
                    </td>
                    <td width="">
                        @record.Message
                    </td>
                    <td width="25%">
                        @String.Join(", ", record.Tags)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <waiting></waiting>
    }
</recordsindex-component>
