<?xml version="1.0" encoding="utf-8"?>
<ChronicleConfiguration>
  <Libraries>
    <Library Type="NChronicle.File.FileChronicleLibrary, NChronicle.File, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
      <Levels>
        <Level>Critical</Level>
        <Level>Warning</Level>
        <Level>Success</Level>
        <Level>Info</Level>
      </Levels>
      <Tags />
      <IgnoredTags />
      <OutputPath>D:\Apps\NChronicle\NChronicle.Live.Web\NChronicle.Live.Web.Server\chronicle.log</OutputPath>
      <OutputPattern>
        {%yyyy/MM/dd HH:mm:ss.fff} [{TH}] {MSG?{MSG} {EXC?
        }}{EXC?{EXC}
        }{TAGS?[{TAGS}]}
      </OutputPattern>
      <TimeZone>GMT Standard Time</TimeZone>
    </Library>
  </Libraries>
</ChronicleConfiguration>