recordsIndex-component {
    display: block;
    position: relative
}

    recordsIndex-component > waiting-component {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
    }

    recordsIndex-component > input[type="text"] {
        margin: 30px;
        width: 60%;
    }

    recordsIndex-component table {
        box-shadow: 0 0 10px black;
    }

    recordsIndex-component table th:nth-child(1),
    recordsIndex-component table td:nth-child(1) {
        flex: 0 0 150px;
    }

    recordsIndex-component table th:nth-child(2),
    recordsIndex-component table td:nth-child(2) {
        flex: 0 0 80px;
    }

    recordsIndex-component table th:nth-child(4),
    recordsIndex-component table td:nth-child(4) {
        flex: 0 1 25%;
    }