recordsIndex-component {
    display: block;
    position: relative
}

    recordsIndex-component > logo-component {
        width: 40px;
        height: 40px;
        margin-left: calc(50%-20px);
    }

    recordsIndex-component table {

    }

    recordsIndex-component table th:nth-child(2),
    recordsIndex-component table td:nth-child(2) {
        flex: 0 1 25%;
    }

    recordsIndex-component table td span.inline-info {
        font-size: .8em;
        display: block;
        color: rgba(255, 255, 255, .6);
        margin-left: -3px;
    }

        recordsIndex-component table td span.inline-info span.Critical {
            color: rgba(255, 0,0, 0.8);
        }

        recordsIndex-component table td span.inline-info span.Success {
            color: rgba(0, 180,0, 0.8);
        }

        recordsIndex-component table td span.inline-info span.Warning {
            color: rgba(255, 140,0, 0.8);
        }

.record-detail-modal p:first-of-type {
    margin-top: 0;
}

.record-detail-modal p:last-of-type {
    margin-bottom: 0;
}

.record-detail-modal h2 {
    font-size: inherit;
    margin: 0;
}

.record-detail-modal p.tags span {
    display: block;
    margin-top: 10px;
}