waiting-component {
    display: block;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

    waiting-component .image.logo-curve {
        width: 100%;
        animation: curve-rotation .5s linear 0s infinite;
    }
