:root {
    --primary-background-color: rgb(30, 30, 30);
    --secondary-background-color: rgb(40, 40, 40);
    --primary-foreground-color: rgb(210, 210, 210);
    --header-background-color: rgb(60, 60, 60);
    --primary-accent-color: rgba(165, 64, 223, 1);
    --highlight-accent-color: rgb(90, 40, 120);
}

:root, html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top right, var(--primary-background-color), var(--secondary-background-color));
    color: var(--primary-foreground-color);
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

object {
    background: none no-repeat transparent;
}
